body {
    font-family: "Roboto", sans-serif;
    background-color: rgba(100, 195, 229, 0.13);
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* .welcomeBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
} */

.welcomeHeader {
    overflow: hidden;
    background-color: rgb(39, 172, 147);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.9;
}

.logo p {
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding-left: 200px;
}

.nav {
    padding-right: 190px;
}

.nav button {
    margin-right: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.logButt {
    background-color: rgb(39, 172, 147);
    border: 1px solid white;
    color: white;
}

.signButt {
    background-color: white;
    color: rgb(39, 172, 147);
    border: 1px solid rgb(39, 172, 147);
}

.safeData {
    margin-top: 0;
    width: 100%;
    /* background-color: whitesmoke; */
    height: 300px;
    position: relative;
    left: 200px;
    top: 20px;
}

.safeData h1 {
    color: #1f4554;
    font-size: 80px;
}

.safeData h3 {
    color: #678691;
    font-size: 30px;
    position: relative;
    bottom: 40px;
    line-height: 40px;
}

.lock {
    width: 68.93px;
    height: 102.57px;
    position: relative;
    bottom: 350px;
    left: 500px;
}

.key {
    position: relative;
    left: 400px;
    width: 90px;
    height: 90px;
    bottom: 150px;
}

.cloud {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 60px;
    right: 70px;
    opacity: 0.9;
}

.contracto {
    width: 180px;
    height: 180px;
    position: relative;
    left: 400px;
    bottom: 250px;
    opacity: 0.9;
}

.days {
    width: 100%;
    height: 300px;
    position: relative;
    left: 490px;
    top: 100px;
}

.days h1 {
    color: #1f4554;
    font-size: 80px;
}

.welcomeBody h1 {
    color: #1f4554;
    font-size: 80px;
}

.welcomeBody h3 {
    color: #678691;
    font-size: 30px;
    line-height: 40px;
}

.days h3 {
    color: #678691;
    font-size: 30px;
    position: relative;
    bottom: 40px;
    line-height: 40px;
}

.edit {
    position: relative;
    bottom: 340px;
    right: 200px;
    width: 130px;
    height: 110px;
}

.erase {
    position: relative;
    left: 300px;
    bottom: 320px;
}

.surface {
    width: 230px;
    height: 260px;
    position: relative;
    right: 170px;
    bottom: 40px;
}

.delete {
    width: 70px;
    height: 100px;
    position: relative;
    bottom: 150px;
    right: 50px;
}

.plant {
    position: relative;
    right: 700px;
    top: 80px;
    width: 86px;
    height: 122px;
    opacity: 0.8;
}

.paper h1 {
    position: relative;
    top: 410px;
    left: 230px;
}

.paper h3 {
    position: relative;
    left: 230px;
    top: 230px;
}

.contract {
    width: 100px;
    height: 100px;
    transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
    position: relative;
    top: 270px;
    left: 820px;
}

.world {
    width: 239px;
    height: 277px;
    opacity: 0.9;
    position: relative;
    left: 950px;
}

.wood {
    width: 154px;
    height: 136px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 0.8;
    position: relative;
    top: 50px;
    left: 350px;
}

.use {
    position: relative;
    left: 490px;
    top: 50px;
}

.use h3 {
    position: relative;
    bottom: 30px;
    /* left: 40px; */
}

.puntoUno {
    position: relative;
    left: 50px;
}

.puntoDue {
    position: relative;
    bottom: 30px;
    left: 50px;
}

.puntoTre {
    position: relative;
    bottom: 35px;
    left: 120px;
}

.search {
    width: 128px;
    height: 137px;
    opacity: 0.9;
    position: relative;
    bottom: 300px;
    right: 200px;
}

.code {
    width: 119px;
    height: 127px;
    opacity: 0.9;
    position: relative;
    left: 380px;
    bottom: 300px;
}

.qr {
    width: 167px;
    height: 189px;
    position: relative;
    right: 80px;
}

.logFlex {
    display: flex;
    flex-direction: column;
    width: 335px;
    position: absolute;
    left: 832px;
    top: 250px;
    align-items: center;
}

.logFlex input {
    margin-bottom: 40px;
    text-align: center;
    font: Thin 20px/24px Roboto;
    letter-spacing: 0px;
    color: #27ac93;
    text-transform: lowercase;
    opacity: 1;
    height: 46px;
    width: 332px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.logFlex button {
    width: 320px;
    height: 46px;
    background: #27ac93 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 1px #00000033;
    border-radius: 4px;
    opacity: 1;
    border: hidden;
    color: white;
    font: Thin 20px/24px Roboto;
    letter-spacing: 0px;
}

.login {
    position: absolute;
    top: 126px;
    left: 811px;
    width: 100px;
    height: 53px;
    text-align: center;
    font: Bold 45px/53px Roboto;
    letter-spacing: 0px;
    color: #1f4554;
    opacity: 1;
}

.cloud2 {
    position: absolute;
    top: 90px;
    left: 935px;
    width: 160px;
    height: 138px;
    opacity: 1;
}

.dinner {
    position: absolute;
    top: 265px;
    left: 365px;
    width: 211px;
    height: 176px;
    opacity: 1;
}

.code2 {
    position: absolute;
    top: 158px;
    left: 434px;
    width: 72px;
    height: 68px;
    background: transparent url("img/qr-code (1).png") 0% 0% no-repeat
        padding-box;
    opacity: 0.7;
}

.lock2 {
    position: absolute;
    top: 130px;
    left: 238px;
    width: 34px;
    height: 48px;
    opacity: 1;
}

.care2 {
    position: absolute;
    top: 500px;
    left: 200px;
    width: 184px;
    height: 207px;
    background: transparent url("img/care.png") 0% 0% no-repeat padding-b;
}

.contract2 {
    position: absolute;
    top: 493px;
    left: 578px;
    width: 97px;
    height: 91px;
    background: transparent url("img/contract.png") 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

.logFooter {
    position: absolute;
    top: 869px;
    left: 0px;
    width: 1440px;
    height: 238px;
    background: #27ac93 0% 0% no-repeat padding-box;
    opacity: 1;
}

.one {
    position: absolute;
    top: 300px;
    left: 359px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.two {
    position: absolute;
    top: 411px;
    left: 359px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.tre {
    position: absolute;
    top: 522px;
    left: 359px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.quattro {
    position: absolute;
    top: 300px;
    left: 748px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.cinque {
    position: absolute;
    top: 411px;
    left: 748px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.sei {
    position: absolute;
    top: 522px;
    left: 748px;
    width: 322px;
    height: 46px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
}

.regInp {
    position: relative;
    bottom: 80px;
}

.regInp input {
    text-align: center;
    font: Thin 25px/29px Roboto;
    letter-spacing: 0px;
    color: #27ac93;
    text-transform: lowercase;
    opacity: 1;
}

.sign {
    position: absolute;
    top: 111px;
    left: 364px;
    color: #1f4554;
}

.sigButt {
    position: absolute;
    top: 550px;
    left: 560px;
    width: 280px;
    height: 56px;
    background: #27ac93 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 4px;
    opacity: 1;
    color: white;
    font: Thin 35px/41px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: Thin 35px/41px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

.cont {
    position: absolute;
    top: 88px;
    left: 521px;
    width: 83px;
    height: 83px;
    transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
    background: transparent url("img/contract.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.coca {
    position: absolute;
    top: 156px;
    left: 202px;
    width: 100px;
    height: 103px;
    background: transparent url("img/coca-leaves.png") 0% 0% no-repeat
        padding-box;
    opacity: 1;
}

.chop {
    position: absolute;
    top: 340px;
    left: 198px;
    width: 93px;
    height: 93px;
    background: transparent url("img/037---Chopsticks.png") 0% 0% no-repeat
        padding-box;
    opacity: 1;
}

.tuna {
    position: absolute;
    top: 500px;
    left: 300px;
    width: 98px;
    height: 74px;
    transform: matrix(0.91, 0.42, -0.42, 0.91, 0, 0);
    background: transparent url("img/tuna.png") 0% 0% no-repeat padding-b;
}

.chips {
    position: absolute;
    top: 112px;
    left: 1150px;
    width: 100px;
    height: 111px;
    background: transparent url("img/chips.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.cup {
    position: absolute;
    top: 300px;
    left: 1158px;
    width: 56px;
    height: 56px;
    background: transparent url("img/coffee-cup.png") 0% 0% no-repeat
        padding-box;
}

.pizza {
    position: absolute;
    top: 454px;
    left: 1130px;
    width: 144px;
    height: 145px;
    opacity: 0.9;
}

.thankContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thankContainer h1 {
    color: #1f4554;
    font-size: 80px;
    font-family: "Roboto", sans-serif;
}

.thankContainer h3 {
    color: #678691;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    bottom: 50px;
}

.thankCare {
    position: absolute;
    top: 313px;
    left: 680px;
    width: 107px;
    height: 120px;
    background: transparent url("img/care.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.uno {
    color: #1f4554;
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 30px;
}

.bru {
    position: relative;
    top: 20px;
}

.userFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35px;
}

.name {
    text-decoration: none;
}

.userFormContainer h1 {
    color: #1f4554;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 5px;
    margin-top: 40px;
}

.userFormContainer input {
    width: 275px;
    height: 38px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.userFormContainer select {
    width: 285px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.userFormContainer button {
    width: 172px;
    height: 45px;
    background: #27ac93 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #ffffff;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    margin-top: 10px;
    bottom: 1px;
}

.nuvola {
    position: absolute;
    top: 82px;
    left: 352px;
    width: 86px;
    height: 97px;
    opacity: 0.7;
}

.chiave {
    position: absolute;
    top: 350px;
    left: 980px;
    width: 77px;
    height: 76px;
    background: transparent url("img/key.png") 0% 0% no-repeat padding-box;
    opacity: 0.7;
}

.toast {
    position: absolute;
    top: 701px;
    left: 356px;
    width: 100px;
    height: 102px;
}

.profileContainer {
    position: relative;
    top: 80px;
    height: 400px;
}

.profileContainer h3 {
    color: #1f4554;
    font-size: 30px;
    margin-left: 200px;
    line-height: 40px;
}

.searchCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 43px;
    right: 410px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav button {
    margin-left: 30px;
}

.nav h4 {
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.searchCont input {
    width: 292px;
    height: 39px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #27ac93;
    border-radius: 24px;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 20px;
}

.searchCont button {
    width: 172px;
    height: 45px;
    background: #27ac93 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #ffffff;
    border-radius: 4px;
    opacity: 1;
}

.generator {
    position: absolute;
    left: 1070px;
    bottom: 90px;
}

.generator button {
    width: 172px;
    height: 45px;
    background: #27ac93 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
    border: 2px solid #ffffff;
    border-radius: 4px;
    opacity: 1;
}

.resultsContainer {
    position: relative;
    left: 495px;
    bottom: 375px;
    width: 460px;
    height: 200px;
    /* width: 1400px;
    height: 470px;
    left: 20px;
    top: 1px; */
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: white;
    border: 2px solid #27ac93;
    z-index: 200;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    /* left: 550px;
    bottom: 180px;
    width: 500px;
    height: 300px; */
    /* overflow-y: scroll; */
    /* border: 2px solid #27ac93; */
    /* background-color: white; */
}

.person p {
    margin-right: 15px;
    padding-left: 10px;
}

span {
    /* width: 10px;
    height: 10px; */
    margin-right: 10px;
}

.info {
    color: #678691;
    font-size: 25px;
    position: relative;
    left: 200px;
    top: 15px;
}

.info2 {
    color: #678691;
    font-size: 25px;
    position: relative;
    left: 535px;
    bottom: 285px;
}

.info3 {
    color: #678691;
    font-size: 25px;
    position: relative;
    left: 980px;
    bottom: 376px;
}

.heart {
    color: red;
}

.developed {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}

.footer {
    background-color: rgb(39, 172, 147);
    width: 100%;
    height: 150px;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer2 {
    background-color: rgb(39, 172, 147);
    width: 100%;
    height: 115px;
    position: fixed;
    top: 605px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer3 {
    background-color: rgb(39, 172, 147);
    width: 100%;
    height: 150px;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer4 {
    background-color: rgb(39, 172, 147);
    width: 100%;
    height: 150px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer3 button {
    width: 60px;
    height: 33px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
    border: none;
    opacity: 1;
    color: rgb(39, 172, 147);
    position: relative;
    bottom: 10px;
}

.about {
    display: block;
}

.about p {
    color: white;
    margin-left: 100px;
}

.social {
    display: block;
    color: white;
    margin-left: 120px;
}

.newsletter {
    display: inline;
}

.newsletter input {
    border: 1px solid #ffffff;
    border-radius: 4px 0px 0px 4px;
    opacity: 1;
    text-align: center;
    width: 211px;
    height: 29px;
    background-color: rgb(39, 172, 147);
    color: white;
}

.newsletter ::placeholder {
    color: white;
}

.newsletter button {
    width: 60px;
    height: 33px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
    border: none;
    opacity: 1;
    color: rgb(39, 172, 147);
}

.deskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
